* {
  box-sizing: border-box;
}
.body {
  &__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "FredokaOne-Regular", sans-serif;
    color: #fefefe;
    text-align: center;
    font-size: 22px;

    h1 {
      margin-bottom: 16px;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    .floor {
      height: 25%;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #B7CCD4;
    }
  }

  &__intro {
    width: 60%;
  }

  &__gameOver {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &__content {
      background: rgb(128, 148, 156);
      padding: 5% 10%;
      border-radius: 48px;
    }
  }

  &__instructions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    padding: 0 15%;

    div {
      display: flex;
      align-items: baseline;
      span {
        font-size: 38px;
        margin-right: 8px;
      }
      img {
        display: inline-block;
        height: 50px;
      }
    }
  }

  &__game {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__body {
    flex: 0 0 30%;
    position: relative;
  }

  &__part {
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-in-out;

    &.selected {
      z-index: 999;
      transform: scale(1.1);
      transition: all .2s ease-in-out;

    }
  }

  &__labels {
    height: 100%;
    flex: 0 0 35%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    button {
      height: 50px;
      cursor: pointer;
      width: auto;
      max-width: 45%;
    }
  }

  &__label {
    border: 4px solid #fefefe00;
    border-radius: 16px;
    font-family: "FredokaOne-Regular", sans-serif;
    font-size: 22px;
    background: none;
    text-transform: lowercase;

    &.selected {
      border: 4px solid #fefefe;
    }
  }
}

.matched {
  opacity: 0.4;
  pointer-events: none;
}

.UIButton {
  cursor: pointer;
  font-size: 22px;
  margin: 10px 10px;
  padding: 5px 10px;
  width: 200px;
  font-family: "FredokaOne-Regular";
  background-color: #f8fa94;
  border: 5px solid #f9df1b;
  border-radius: 50px;
  color: #e30104;
  transition: transform 0.2s;
  text-align: center;
}
