$yellow-light: #f8fa94;
$yellow-dark: #f9df1b;
$red: #e30104;

.game {
  &__view {
    width: 100%;
    height: 100vh;
    font-size: 22px;
    color: #fefefe;
    font-family: "FredokaOne-Regular", sans-serif;
  }

  &__overlay {
    position: absolute;
    background: #04162e;
    color: #fefefe;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    h1 {
      margin-bottom: 16px;
      max-width: 70%;
      width: auto;
      padding: 8px 32px;
      text-transform: none;
    }

    .btn {
      cursor: pointer;
      font-size: 22px;
      margin: 10px 10px;
      padding: 5px 10px;
      width: 200px;
      font-family: "FredokaOne-Regular";
      background-color: $yellow-light;
      border: 5px solid $yellow-dark;
      border-radius: 50px;
      color: $red;
      transition: transform 0.2s;
      text-align: center;
    }
  }
}

.heart {
  font-size: 16px;

  img {
    height: 28px;
    margin: 0 4px;
  }
}

.backButton {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "FredokaOne-Regular", sans-serif;
  text-decoration: none;
  color: inherit;

  img {
    height: 42px;
  }
}

.top-right {
  position: absolute;
  right: 5%;
  top: 5%;
  text-align: right;
}

a {
  text-decoration: none;
  display: inline-block;
}

// .lives {

// }
