@font-face {
    font-family: 'luckiestguy';
    src: url('../../fonts/luckiestguy.ttf') format('truetype');
}

@font-face {
  font-family: 'FredokaOne-Regular';
  src: url('../../fonts/FredokaOne-Regular.ttf') format('truetype');
}