// COLORS
$yellow-light: #F8FA94;
$yellow-dark: #F9DF1B;
$red: #E30104;
$black: #000000;
$white: #FFFFFF;
$rose: #FC6A76;
$blue-light: #597386;
$blue-dark: #385F78;
$blue-dark-dark: #022746;

$green: #344E00;
$green-border: #5A7949;
$green-light: #7A8B59; 

// BORDER DIKTES
$small: 5px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.navbar{
  z-index: 99;
}


.memory-body-container{
  background: $green;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
}

  .hide{
      display: none;
  }

  .icons{
      width: 50px;
      position: absolute;
      right: 0;
      top: 0;
      margin: 20px;
      z-index: 3;
  }

  .speaker-icon:hover{
      cursor: pointer;
  }

  #info-icon, #handleiding-icon{
    margin: 0 0 20px 0;
    height: 50px;
    width: 50px;
  }
  #info-icon:hover, #handleiding-icon:hover{
    cursor: pointer;
  }

  #handleiding-icon{
    margin: 20px 0;
  }

//   PLAY AGAIN CONTAINER
  .playAgain-container, .explain-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      z-index: 11;
      border: solid 10px $green-border;
      border-radius: 20px;
      background-color: $green-light;
      text-align: center;
    }

    .playAgain-container div, .explain-container div{
      margin: 50px 100px;
    }

    .playAgain-container p, h3, .explain-container p{
      color: $white;
      font-family: 'FredokaOne-Regular';
    }

    .playAgain-container h3{
      font-size: 25px;
    }

    .playAgain-container button{
      color: $black;
      background-color: $white;
      text-transform: uppercase;
      padding: 5px 0;
      margin: 10px 5px;
      width: 50px;
      font-family: 'FredokaOne-Regular';
      border: none;
      transition: transform .2s;

    }

    .playAgain-container button:hover, #close-btn-explain:hover{
      cursor: pointer;
      transform: scale(0.9);
      transition: transform .2s;
    }

    #close-btn-explain{
      background-color: $white;
      color: $black;
      font-family: 'FredokaOne-Regular';
      font-size: 35px;
      padding: 0 11px 3px 11px;
      margin: 10px;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      transition: transform .2s;
    }

//   GAME-CONTAINER
.game-container{
  height: 100vh;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
}

.container-background-game{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $green;
  z-index: 1;
}

.heading{
  font-family: 'FredokaOne-Regular';
  font-size: 30px;
  font-weight: lighter;
  color: $white;
  background-color: $green-light;
  border: solid 10px $green-border;
  border-radius: 15px;
  padding: 5px 10px;
  width: 250px;
  text-align: center;
  text-transform: lowercase;
  margin: 20px auto 0 auto;
  z-index: 11;
}

.h2-memory h2{
  font-family: 'FredokaOne-Regular';
  font-size: 30px;
  font-weight: lighter;
  color: $white;
  background-color: $green-light;
  border: solid 10px $green-border;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  z-index: 11;
}
  
.lvl-btn-container{
  margin: 25px 0;
  text-align: center;
}

.lvl-btn-container button{
  margin: 10px 10px;
  padding: 5px 10px;
  width: 200px;
  text-transform: lowercase;
  font-family: 'FredokaOne-Regular';
  background-color: $yellow-light;
  border: solid $small $yellow-dark;
  border-radius: 50px;
  color: $red;
  transition: transform .2s;
}

.lvl-btn-container button:hover{
  transform: scale(0.9);
  transition: transform .2s;
  cursor: pointer;
}

.memory-game-container{
  height: 70%;
}

.memory-game {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  background: $white;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  border: solid $small $red;
  text-align: center;
}

.front-face img{
  height: 100%;
}

.back-face{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: solid $small $red;
  background-color: $green-light;
  background-image: url('/games/memory/card-back-red.svg');
  // background-image: url(/OLV_Kinderwebsite/games/memory/card-back-red.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  transition-duration: 0.2s;
}

.back-face:hover{
    cursor: pointer;
}

.container-rotate-screen{
  display: none;
}

@media only screen and (min-width: 500px) and (max-width: 900px){
    
  .play-container{
    display: block;
  }

  .memory-body-container{
    background-image: none;
  }

  .memory-game {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  .playAgain-container div, .explain-container div{
    margin: 20px;
  }

  //   PLAY AGAIN CONTAINER
  .playAgain-container{
    top: 100%;
  }
}

// GSM LANDSCAP
@media only screen and (max-width: 500px){
  .h2-memory h2{
    width: 300px;
  } 
  
  .play-container{
    display: none;
  }

  .container-rotate-screen{
    height: 100vh;
    width: 80%;
    position: relative;
    margin: 0 auto;
    display: block;
  }

  .container-rotate-screen img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
