// COLORS
$yellow-light: #F8FA94;
$yellow-dark: #F9DF1B;
$red: #E30104;
$black: #000000;
$white: #FFFFFF;
$rose: #FC6A76;
$blue-light: #597386;
$blue-dark: #385F78;
$blue-dark-dark: #022746;
$orange: #FF5E18;

// BORDER
$fat: 10px;
$small: 7.5px;

// WIDTH & HEIGHT
$width: 250px;
$height: 360px;

.hide{
    display: none;
}

.memory-info-body-container{
    background-image: url('/background-planeet.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.memory-icon{
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.memory-cards-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards{
    width: $width;
    height: $height;
    border: solid $small $red;
    border-radius: 50px;
    background-color: $white;
    margin: 20px auto 0 auto;
}

.card-icon{
    width: 80%;
    height: 80%;
    margin: 10%;
}

#icons-container{
    text-align: center;
}

.pijltje{
    width: 50px;
    margin: 10px 2.5px 6px 2.5px;
}

.middle-icon{
    margin-left: 15px;
    margin-right: 15px;
}

.pijltje:hover{
    cursor: pointer;
}

#pijltje-volgende{
    transform: rotate(180deg);
}

#text-blok{
    padding: 20px;
    text-align: center;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    font-family: 'FredokaOne-Regular';
    font-weight: 200;
}

#title{
    color: $orange;
    text-transform: capitalize;
    font-family: 'luckiestguy';
}