// COLORS
$yellow-light: #F8FA94;
$yellow-dark: #F9DF1B;

$red: #E30104;
$black: #000000;
$white: #FFFFFF;
$rose: #FC6A76;

$blue-light: #597386;
$blue-dark: #385F78;
$blue-dark-dark: #022746;

$bordeaux-light: #D06F82;
$bordeaux: #B7223E;
$bordeaux-dark: #B05C73;

.selected-icon{
    opacity: 0.5;
    transition: transform .2s;
}

.result-icon{
    position: absolute;
    width: 15%;
}

.container-h2 h2{
    font-family: 'FredokaOne-Regular';
    font-size: 30px;
    font-weight: lighter;
    color: $white;
    background-color: $bordeaux-light;
    border: solid 10px $bordeaux-dark;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}

.container-rugzak-game{
    height: 100vh;
    width: 100%;
    background-color: $bordeaux;
}

// RUGZAK
.rugzak{
    z-index: 9;
    display: flex;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.rugzak img{
    width: 350px;
    margin: 0 auto;
}

// RUGZAK ICONS
.container-icon-rugzak{
    z-index: 9;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

.icon-rugzak{
    width: 15%;
    margin: 2.5% 9.165%;
    transition: transform .2s;
}

.icon-rugzak:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: transform .2s;
}

// FOOTER
.footer-rugzak{
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #5776B7;
}


.playAgain-container-rugzak{
    top: 50%
}
// GSM PORTRAIT
@media only screen and (max-width: 1024px) {

    .container-h2{
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 12;
    }

    .container-h2 h2{
        top: 50%;
        transform: translate(-50%, 0);
    }
    
    // RUGZAK
    .rugzak{
        width: 100%;
    }
    
    .rugzak img{
        height: 80%;
        opacity: 0.8;
    }
    
    // RUGZAK ICONS
    .container-icon-rugzak{
        width: 100%;
    }
    
    .icon-rugzak{
        width: 15%;
    }
    
    // FOOTER
    .footer-rugzak{
        height: 0vh;
    }
  }

// GSM LANDSCAP
@media only screen and (max-width: 600px){
    
    .container-h2{
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 12;
    }
    
    .container-h2 h2{
        z-index: 13;
        font-size: 20px;
        width: 200px;
        top: 50%;
        transform: translate(-50%, 0);
    }
}
