html {
  scroll-behavior: smooth;
}

body {
  background-color: #002645;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  background-color: #002645;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: fadeinout 2.5s linear forwards;
  opacity: 1;
  z-index: 3;
}

@keyframes fadeinout {
90% { opacity: 1; }
100% { opacity: 0; }
}

.planet_C {
  transition: all .2s ease-in-out;
}

.planet_C:nth-child(1) {
  align-self: flex-end;
  width: 36%;
}

.planet_C:nth-child(2) {
  align-self: flex-start;
  width: 45%;
}

.planet_C:hover {
  transform: scale(1.1);
}

.planet_container_C {
  display: flex;
  margin: 2%;
  flex-direction: row ;
  justify-content: space-evenly;
  align-self: flex-start;
  width: 20%;
  height: 200px;
}

.skyline {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.6;
}

.rocket_ani {
  animation: fadeRocket 1s linear forwards;
  opacity: 0;
}

@keyframes fadeRocket {
  100% { opacity: 1; }
  }

.logo {
  position: fixed;
  width: 120px;
  height: 120px;
  right: 0;
}

.navbar {
  position: absolute;
  top: 0;
  height: 100px;
  margin: 20px;
}

.back {
  position: relative;
  height: 100%;
}

.back img {
  height: 40%;
}

.container_content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
}

.planet_bg {
  position: relative;
  width: 100%;
  align-self: flex-end;
}

.container_action {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: 60%;
  align-self: center;
  bottom: 20%;
}

.action {
  width: 30%;
  transition: all .2s ease-in-out;
}

.action:nth-child(1) {
  align-self: flex-end;
  animation: float1 3.1s ease-in-out infinite;
}

.action:nth-child(2) {
  align-self: flex-start;
  animation: float1 3s ease-in-out infinite;
}

.action:nth-child(3)  {
  align-self: flex-end;
  animation: float1 3.2s ease-in-out infinite;
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.olivia {
  position: absolute;
  z-index: 2;
  width: 10%;
  right: 50px;
  bottom: 140px;
}

.planetName {
  font-family: 'Fredoka';
  align-self: center;
  color: white;
  font-size: 70px;
}

.heading_container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100px;
  top: 0;
  justify-content: center;
  pointer-events: none;
}


