.ground {
  background: rgb(42, 119, 42);
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.hospital {
  position: absolute;
  left: 10%;
  bottom: 100px;
  width: 35%;
  z-index: 2;
}

.cloud {
  position: absolute;
  left: random(20) * 1%;
  top: random(60) * 1%;
  width: 12%;
}

.planet {
  transition: all .2s ease-in-out;
}

.planet:nth-child(1) {
  position: absolute;
  align-self: center;
  width: 16%;
  transform: translateY(-180px);

  &:hover {
    transform: translateY(-180px) scale(1.1);
  }
}

.planet:nth-child(2) {
  position: absolute;
  align-self: flex-start;
  width: 20%;
}

.planet:nth-child(3) {
  position: absolute;
  align-self: flex-end;
  width: 20%;
}

.planet:hover {
  transform: scale(1.1);
  
}

.planet_container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
  width: 60%;
  height: 30%;
  flex-direction: column;
}

.skyline {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.6;
}
