html {
  scroll-behavior: smooth;
}

.ground {
  background: rgb(77, 168, 77);
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.hospital {
  position: absolute;
  left: 10%;
  bottom: 80px;
  width: 40%;
  z-index: 2;
}

.tree {
  position: absolute;
  left: 2%;
  bottom: 90px;
  width: 6%;
  z-index: 3;
}

.tree2 {
  position: absolute;
  right: 2%;
  bottom: 30px;
  width: 6%;
  z-index: 3;
}

.tree3 {
  position: absolute;
  left: 32%;
  bottom: 30px;
  width: 6%;
  z-index: 3;
}

.tree4 {
  position: absolute;
  left: 54%;
  bottom: 90px;
  width: 9%;
  z-index: 3;
}

.clouds {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

@keyframes cloudmovement {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

.cloud {
  position: absolute;
  // animation-name: cloudmovement;
  // animation-duration: 180s;
  // animation-iteration-count: infinite;

  &:nth-child(n) {
    animation-delay: 0.5s;
  }

  &:nth-child(2n) {
    animation-duration: 300s;
    animation-delay: 1.5s;
    animation-direction: reverse;
  }

  &:nth-child(5n-1) {
    animation-delay: 3s;
    animation-duration: 240s;
  }
}

.planet {
  text-align: center;
  transition: all .2s ease-in-out;
  align-self: flex-start;
  width: 30%;
}

.planetsName{
  font-family: 'Fredoka';
  margin-bottom: 10px;
  font-size: 32px;
  color: white;
}

.planet:nth-child(2) {
  align-self: flex-end;
  width: 26%;
}

.planet:hover {
  transform: scale(1.1);
}

.planet_container {
  display: flex;
  margin: 0 auto;
  align-self: center;
  width: 60%;
  height: 60%;
  justify-content: space-between;
  flex-direction: row;
}

.skyline {
  width: 100%;
  position: absolute;
  margin-bottom: -100px;
  left: 0;
  z-index: 0;
  opacity: 0.6;
}

.rocket {
  pointer-events: none;
  width: 30%;
  position: fixed;
  bottom: 20px;
  right: 10%;
  z-index: 99;
  transition-property: transform;
  transition-duration: 1s;
}

.space {
  background-image: url('/stars-01.png');
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.logo_fixed {
  z-index: 100;
  position: fixed;
  width: 100px;
  height: 100px;
  right: 0;
  transition: all .2s ease-in-out;
  
  &:hover {
    transform: scale(1.1);
  }
}

.info_modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);

  div {
    width: 600px;
    max-width: 90vw;
    background-color: #B3B3B3;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Fredoka';
    color: white;

    .modal_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: none;
      height: 30px;
      padding: 0;

      .cross {
        width: 30px;
        height: 30px;
        padding: 0;
      }
    }

    .modal_content {
      margin: 20px 0 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: none;
      border-radius: 0;
      padding: 0;
      width: 100%;

      p {
        font-size: 20px;
      }

      button {
        background-color: #6BD3D3;
        padding: 4px 6px;
        font-size: 20px;
        border-radius: 10px;
        color: white;
        font-family: 'Fredoka';
        border: 6px solid rgb(89, 170, 170);
      }
    }
  }
}

.info_icon {
  z-index: 101;
  position: fixed;
  width: 40px;
  height: 40px;
  margin: 30px;
  top: 80px;
  right: 0;
  transition: all .2s ease-in-out;
  
  &:hover {
    transform: scale(1.1);
  }
}

.siteName {
  font-family: 'Fredoka';
  margin-bottom: 10px;
  font-size: 90px;
  color: #7FB3CE;
  text-align: center;
  margin-top: 20px;
}

.launch_button {
  position: absolute;
  bottom: 300px;
  z-index: 2;
  right: 10%;
  background-color: #C30C28;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: 'Fredoka';
  border: 6px solid rgb(168, 25, 46);
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.olivia_home {
  position: absolute;
  z-index: 2;
  width: 6%;
  right: 10%;
  bottom: 6%;
  align-self: flex-end;
}

@media screen and (max-width: 1080px) {
  .info_modal {
    justify-content: center;
    
    h2 {
      font-size: 20px;
    }
  }

  .planet_container{
    width: 90%;
    height: 40%;
  }

  .launch_button {
    bottom: 200px;
  }

  .siteName {
    font-size: 60px;
    margin-top: 400px;
  }

  .planetsName{
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .siteName {
    font-size: 46px;
    margin-top: 220px;
  }

  .launch_button {
    right: 4%;
  }
}

@media screen and (max-width: 600px) {
  .planetsName{
    font-size: 16px;
  }

  .siteName {
    font-size: 34px;
    margin-top: 150px;
  }

  .planet_container {
    margin-top: 140px;
  }
}

@media screen and (max-width: 425px) {

  .tree {
    display: none;
  }

  .tree2 {
    display: none;
  }

  .tree3 {
    display: none;
  }

  .tree4 {
    display: none;
  }

  .launch_button {
    bottom: 20px;
    right: calc(50% - 60px);
  }
  
  .hospital {
    right: 0;
    bottom: 80px;
    width: 320px;
    z-index: 2;
  }

  .olivia_home {
    width: 10%;
  }

  .rocket {
    pointer-events: none;
    width: 200px;
    bottom: 220px;
    right: 30px;
    z-index: 99;
    transition-property: transform;
    transition-duration: 1s;
  }

  .container {
    display: inline-block;
  }
}

@media screen and (max-width: 350px) {
  .hospital {
    width: 260px;
    bottom: -50px;
  }

  .rocket {
    bottom: 56px;
  }

  .olivia_home {
    display: none;
  }

  .ground {
    height: 60px;
  }

  .planet_container {
    margin-top: 140px;
  }
}