html {
  scroll-behavior: smooth;
}

body {
  background-color: #002645;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  background-color: #002645;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  animation: fadeinout 2.5s linear forwards;
  opacity: 1;
  z-index: 3;
}

@keyframes fadeinout {
90% { opacity: 1; }
100% { opacity: 0; }
}

.planet_C {
  transition: all .2s ease-in-out;
}

.planet_C:nth-child(1) {
  align-self: flex-end;
  width: 36%;
}

.planet_C:nth-child(2) {
  align-self: flex-start;
  width: 45%;
}

.planet_C:hover {
  transform: scale(1.1);
}

.skyline {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.6;
}

.rocket_ani {
  animation: fadeRocket 1s linear forwards;
  opacity: 0;
}

@keyframes fadeRocket {
  100% { opacity: 1; }
  }

.logo {
  position: fixed;
  width: 120px;
  height: 120px;
  right: 0;
}

.navbar {
  position: absolute;
  top: 0;
  height: 100px;
  margin: 20px;
}

.back {
  position: relative;
  height: 100%;
}

.back img {
  height: 40%;
}

.planet_bg_spel {
  width: 101%;
  align-self: center;
}

.action {
  width: 30%;
  transition: all .2s ease-in-out;
}

.action:nth-child(1) {
  align-self: flex-end;
  animation: float1 3.1s ease-in-out infinite;
}

.action:nth-child(2) {
  align-self: flex-start;
  animation: float1 3s ease-in-out infinite;
}

.action:nth-child(3)  {
  align-self: flex-end;
  animation: float1 3.2s ease-in-out infinite;
}

@keyframes float1 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.olivia {
  position: absolute;
  z-index: 2;
  width: 10%;
  right: 50px;
  bottom: 140px;
}

.planetName {
  font-family: 'Fredoka';
  align-self: center;
  color: white;
  font-size: 70px;
}


.container_WG {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.container_action_spel {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 66%;
  align-self: center;
  background-image: url("/spelletjespage/vuur.svg");
  background-repeat: no-repeat;
  background-position: center;

  .olivia-rocket {
    margin-right: -10%;
    margin-top: -10%;
    width: 30%;
  }
    
  .game {
    width: 20%;
    margin: 20px;
  }

    .game:nth-child(1) {
      transform: translateY(-10px);
      animation: float2 2.9s ease-in-out infinite;
    }

    .game:nth-child(2) {
      transform: translateY(+10px);
      animation: float2 3.2s ease-in-out infinite;
    }

    .game:nth-child(3) {
      transform: translateY(-4px);
      animation: float2 3.0s ease-in-out infinite;
    }

    .game:nth-child(4) {
      transform: translateY(-6px);
      animation: float2 3.1s ease-in-out infinite;
    }
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container_content_spel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FF5D19;
  margin-top: -85px;
  width: 100%;
}

.inside_container {
  position: relative;
  top: -100px;
  width: 70%;
  align-self: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    display: flex;
    flex-direction: row;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    div {
      display: flex;
      flex-direction: column;
      font-family: 'Fredoka';
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 20px;
      padding: 24px 40px;
      margin: 20px;
      width: 600px;
      height: 400px;
      align-content: center;

      &:nth-child(2n) {
        background-color: #F7FA91;
        border: 20px solid #FBDE21;
      }

      p {
        font-size: 20px;
      }

      h2 {
        color: #FBDE21;
        text-align: center;
        margin: 0px 0 20px 0;
      }
    }
  }

}


